.title {
  background: #eecbcb;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.list-right {
  background: #eecbcb;
  display: flex;
  justify-content: space-around;
  align-items: center;
}