単語list
<%# <ul class='word-list'> %>
  <% @word.each do |word| %>  
   <%# <li class= 'list'> %> 
   <%# <div class='word-img-content'> %> 
     <%# <%= image_tag word.image, class: "word-img" %>
    
<div class='word-info'>
<span><%= word.word_name %></span>
</div> 
<% end %> 
<%# </ul> %>
  
